
.header{
	width: 100%;
	height: 100px;
	margin: 2px;
	padding:2px;
	border: 2px solid red;
	box-sizing: border-box;

}

.one{
	width: 30%;
	height: 80px;
	margin: 0;
	padding: 0;
	border: 2px solid green;
	box-sizing: border-box;
	float: left;
}

.two{
	width: 65%;
	height: 80px;
	margin: 0;
	padding: 0;
	border: 2px solid green;
	box-sizing: border-box;
	float: right;
}

.body_one{
	width: 100%;
	height: 180px;
	margin: 0;
	padding: 5px;
	border: 2px solid blue;
	box-sizing: border-box;
}

.three{
	width: 48%;
	height: 144px;
	margin: 0;
	padding: 0;
	border: 2px solid violet;
	box-sizing: border-box;
	float: left;
}

.four{
	width: 48%;
	height: 72px;
	padding: 0;
	margin: 0;
	border: 2px solid chocolate;
	box-sizing: border-box;
	float: right;
	
}

.body_two{
	width: 100%;
	height: 200px;
	padding:0;
	margin: 5px;
	border: 2px solid violet;
	box-sizing: border-box;

}

.six{
	width: 32%;
	height: 180px;
	padding: 0;
	margin: 4px;
	border: 2px solid grey;
	box-sizing: border-box;
	float: left;
}
.six_one{
	width: 100%;
	height: 180px;
	padding: 0;
	margin: 0;
	border: 2px solid yellow;
	box-sizing: border-box;
}

.seven{
	width: 100%;
	height: 75px;
	padding: 0;
	margin: 0;
	border: 2px solid blue;
	box-sizing: border-box;
	
}
.footer{
	width: 100%;
	height: 150px;
	padding: 0;
	margin: 0;
	border: 2px solid black;
	box-sizing: border-box;

}